@import "tailwindcss";

body {
   background-color: #fffbeb ;
}
input{
    border-radius: 5px;
    border: 1px solid #deb887
} 
select{
  border: 1px solid #deb887
}
::placeholder, select{
    font-style: italic;
    font-size: 12px;
}
#phoneInput{
   border-radius: 0 5px 5px 0;
   border-left: none;
 }